<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  <body class='container'>
    <%- include('../partials/header', { pagina: 'Sobre' }) %>

      <main>
        <div class='p-5 mb-4 text-white bg-dark rounded-3'>
          <h1>Sobre mim</h1>
          <p>Olá, sou Wesley Decezere, estou estudando para me tornar um Desenvolvedor Full Stack.</p>
        </div>
      </main>

      <%- include('../partials/footer') %>
  </body>

</html>