<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Insert an Alien on H2 DB<p/>
    <form>
        <input type="text" name="aid" placeholder="ID"/><br/>
        <input type="text" name="aname" placeholder="Name"/><br/>
        <button type="submit" formaction="addAlien">Add</button>
        &nbsp;
        <button type="submit" formaction="rmAlien">Delete</button>
    </form>
</body>
</html>