* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  margin: 0;
}

.container {
  border: 1px solid;
  width: 350px;
  height: 550px;
  margin: 20px auto;
}

.visor {
  height: 30%;
  padding: 20px;
}

.visor-hist, .visor-out, .answer {
  text-align: right;
}

.visor-hist, .answer {
  color: gray;
  font-size: 20px;
  font-family: serif;
}

.visor-hist {
  height: 70%;
  max-height: 70%;
  overflow: scroll;
  padding-right: 5px;
}

.visor-hist::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.visor-hist::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.visor-hist::-webkit-scrollbar-track {
  border-radius: 5px;
}

.visor-hist::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.visor-hist:hover::-webkit-scrollbar-thumb {
  background: grey;
}

.visor-out {
  height: 30%;
  border: 1px solid;
  font-size: 24px;
}

.keyboard {
  height: 70%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
}

.keyboard-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15.5%;
}

.key {
  width: 24%;
  height: 100%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.key:hover {
  background-color: rgba(0, 0, 0, 0.2);
}